.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vw;
}
.about-text {
  margin-left: 10vw;
  margin-bottom: 10vw;
  margin-top: 4vw;
}
.profile-pic {
  position: relative;
  margin: 0 auto;
  margin-left: 13vw;
  margin-top: 2vw;
}

.h1-ciao {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 100px 0 0 110px;
}
.p-name {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 18px 0 0 110px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 110px;
}

.icon-container svg {
  font-size: 35px;
  color: white;
  transition: color 0.3s ease;
}

.icon-container svg:hover {
  color: #1abc9c;
}
.profile-img {
  width: 100%;
  max-width: 400px;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -2vw;
}

.html-icon {
  width: 60px;
  height: 61px;
  margin: 2vw;
}
.javascript-icon {
  width: 50px;
  height: 50px;
  margin: 2vw;
}
.css-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}
.python-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}

.react-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}
.git-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}
.node-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}

.sql-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}

.mongo-icon {
  width: 100px;
  height: 80px;
  margin: 1vw;
}
.django-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}

.about-me-text {
  color: #fff;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10vw;
  max-width: 60vw;
}
.about-svg-white {
  margin-left: 6vw;
  margin-bottom: -1vw;
  margin-top: 2vw;
}
.view-project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: 320px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e96699;
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  margin-top: 28px;
  margin-bottom: 181px;
}

.arrow-svg {
  width: 42px;
  height: 40.001px;
  flex-shrink: 0;
  background: #e96699;
  color: #000;
  margin-left: 1vw;
}
.bfp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15vw;
  margin-left: 85vw;
}
.strong-project {
  font-weight: 900;
  background: #e96699;
}
.work-link {
  text-decoration: none;
}

.pink-mark-svg {
  width: 100px;
  margin-left: 75vw;
  margin-top: -14vw;
}
