.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}
.about-text {
  margin-left: 10vw;
  margin-bottom: 10vw;
  margin-top: 4vw;
}
.profile-pic {
  position: relative;
  margin: 0 auto;
  margin-left: 13vw;
  margin-top: 2vw;
}

.h1-ciao {
  color: #fff;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 100px 0 0 110px;
}
.p-name {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 18px 0 0 110px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 110px;
}

.icon-container svg {
  font-size: 35px;
  color: white;
  transition: color 0.3s ease;
  transition: scale 0s ease;
}

.icon-container svg:hover {
  color: #1abc9c;
  scale: 1.2;
}
@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.icon-container svg {
  animation: rotate 0.5s forwards;
  animation-delay: 2.9s; 
}

.profile-img {
  width: 100%;
  max-width: 400px;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -2vw;
}

.html-icon {
  width: 60px;
  height: 61px;
  margin: 2vw;
}
.javascript-icon {
  width: 50px;
  height: 50px;
  margin: 2vw;
}
.css-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}
.python-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}

.react-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}
.git-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}
.node-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}

.sql-icon {
  width: 60px;
  height: 50px;
  margin: 2vw;
}

.mongo-icon {
  width: 100px;
  height: 80px;
  margin: 1vw;
}
.django-icon {
  width: 90px;
  height: 80px;
  margin: 1vw;
}

.about-me-text {
  color: #fff;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10vw;
  max-width: 60vw;
}
.about-svg-white {
  margin-left: 6vw;
  margin-bottom: -1vw;
  margin-top: 2vw;
}
.view-project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: 261px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e96699;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  margin-top: 28px;
  margin-bottom: 181px;
}

.arrow-svg {
  width: 30px;
  height: 40.001px;
  flex-shrink: 0;
  background: #e96699;
  color: #000;
  margin-left: 1vw;
}
.bfp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15vw;
  margin-left: 85vw;
}
.strong-project {
  font-weight: 900;
  background: #e96699;
}
.work-link {
  text-decoration: none;
}

.pink-mark-svg {
  width: 100px;
  margin-left: 75vw;
  margin-top: -14vw;
}

@media only screen and (max-width: 600px) {
  .about-container {
    display: flex;
    margin-top: 30vw;
  }
  .about-text {
    margin: 5vw;
  }
  .about-me-text {
  max-width: 80vw;
    font-size: 14px;
    padding: 10px;
  }
  .profile-pic {
    margin: 0 auto;
    margin-top: 2vw;
  }
  .h1-ciao,
  .p-name {
    margin: 2vw;
    font-size: 20px;
  }
  .h1-ciao {
    font-size: 40px;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    margin: 2vw;
    margin-right: 19vw;
  }

.icon-container svg {
  font-size: 18px !important;
}

  .html-icon,
  .javascript-icon,
  .css-icon,
  .python-icon,
  .react-icon,
  .git-icon,
  .node-icon,
  .sql-icon,
  .mongo-icon,
  .django-icon {
    width: 22px;
    height: 22px;
  }
  .django-icon,
  .git-icon,
  .mongo-icon,
  .node-icon {
    width: 33px;
    height: 30px;
  }

  .icon-container svg {
    font-size: 25px;
  }
  .profile-img {
    max-width: 300px;
  }
  .icons-container {
    margin-top: 0;
  }
  .about-me-text {
    margin: 5vw;
    font-size: 20px;
  }
  .about-svg-white {
    margin: 2vw;
    width: 65px;
    height: 65px;
  }
  .pink-mark-svg {
    margin: 2vw;
    margin-left: 71vw;
    width: 65px;
    height: 65px;
  }
  .arrow-svg{
    width: 16px;
  }
  .view-project {
    width: 167px;
    height: 39px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 7vw;
  }
  .bfp {
    margin: 0;
    margin-top: 3vw;
    margin-left: 5vw;
  }
}
