
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0 auto;

  
}

.contact-form {
  
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 200px ;

  padding: 2rem; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #333;
}

.contact-form svg {
  font-size: 36px;
  color: #3498db;
  transition: color 0.3s ease;
}

.contact-form svg:hover {
  color: #1abc9c;
}

.h1-contact{
    font-size: 30px;
    margin-bottom: 1.5rem;
    color: #3498db;
    text-align: center;
    line-height: 1.6;
    border-bottom: 2px solid #3498db;
  }

  .icon-item {
    text-align: center;
  }