
/* Modify the arrow styles and adjust the positioning */
.slick-prev {
    left: 300px; 
    z-index: 1; 
  }
  
  .slick-next {
    right: 300px; 
    z-index: 1; 
  }
  
 
  .slick-prev:before,
  .slick-next:before {
    font-size:40px;
    color: pink;
    z-index: 1; 
  }
  
  /* Customize the dots */
  .slick-dots {
    position: absolute;
    bottom: -20px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-size: 12px; 
    color: pink;
}