.project-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}
.project1 {
  box-shadow: 10px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  margin-top: 15px;
}
.project2 {
  box-shadow: 10px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: 0px 700px 0px 700px
  /* margin-left: 500px;
  margin-right: 500px; */
}
.project3 {
  box-shadow: 10px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: 0px 700px 0px 700px;
  /* margin-left: 500px;
  margin-right: 500px; */
}
.project4 {
  box-shadow: 10px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: 0px 700px 0px 700px;
  /* margin-left: 500px;
  margin-right: 500px; */
}
.img-project1 {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.img-project2 {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 8px;
}
.img-project3 {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 8px;
}
.img-project4 {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.img-project1:hover,
.img-project2:hover,
.img-project3:hover,
.img-project4:hover {
  transform: scale(1.1);
}

.title-project1 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
  font-size: 28px;
}
.title-project2 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
  font-size: 28px;
}

.title-project3 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
  font-size: 28px;
}

.title-project4 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
  font-size: 28px;
}

.project-tools {
  font-size: 14px;
  color: #fff;
}
.img-container img {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.project-description {
  color: #fff;
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.project-button:hover {
  background-color: #45a049;
}

.project-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4caf50;
}

.project-button:active {
  transform: translateY(2px);
}

@media (max-width: 576px) {
  .project-container {
    gap: 20px;
  }
  .project{
    margin-top: 30px
    }
  .project1,
  .project2,
  .project3,
  .project4 {
    margin: 0;
  }

  .img-project1,
  .img-project2,
  .img-project3,
  .img-project4 {
    width: 150px;
    height: 150px;
  }

  .title-project1,
  .title-project2,
  .title-project3,
  .title-project4 {
    font-size: 20px;
  }

  .project-button {
    font-size: 14px;
  }

  .project-description {
    font-size: 14px;
  }
}
